---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    <style>
    .author__bio::after {
      content: '|';
      animation: blink 1s step-end infinite;
    }

    @keyframes blink {
      50% {
        opacity: 0;
      }
    }
    </style>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    <script>
      console.log("Typing effect script loaded");
      document.addEventListener("DOMContentLoaded", function() {
        const titles = ["Software Developer", "ML Engineer", "Connected System Researcher"];
        const bioElement = document.getElementById("author-bio");
        let titleIndex = 0;
        let charIndex = 0;
        let isDeleting = false;
        const typingSpeed = 100; // Speed of typing
        const deletingSpeed = 50; // Speed of deleting
        const pauseBetweenTitles = 2000; // Pause before starting the next title

        function type() {
          const currentTitle = titles[titleIndex];

          if (!isDeleting && charIndex < currentTitle.length) {
            bioElement.textContent += currentTitle.charAt(charIndex);
            charIndex++;
            setTimeout(type, typingSpeed);
          } else if (isDeleting && charIndex > 0) {
            bioElement.textContent = currentTitle.substring(0, charIndex - 1);
            charIndex--;
            setTimeout(type, deletingSpeed);
          } else if (!isDeleting && charIndex === currentTitle.length) {
            isDeleting = true;
            setTimeout(type, pauseBetweenTitles);
          } else if (isDeleting && charIndex === 0) {
            isDeleting = false;
            titleIndex = (titleIndex + 1) % titles.length;
            setTimeout(type, typingSpeed);
          }
        }

        type(); // Start the typing effect
      });
    </script>
  </body>
</html>
