---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    <style>
    .author__bio::after {
      content: '|';
      animation: blink 1s step-end infinite;
    }

    @keyframes blink {
      50% {
        opacity: 0;
      }
    }
    </style>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const bioText = "{{ author.bio }}";
      console.log("Author Bio:", bioText);
      const bioElement = document.getElementById("author-bio");
      let charIndex = 0;

      function type() {
        if (charIndex < bioText.length) {
          bioElement.textContent += bioText.charAt(charIndex);
          charIndex++;
          setTimeout(type, 100); // Adjust typing speed here
        }
      }

      type(); // Start typing effect
    });
  </script>
  </body>
</html>
